<% content_for :stop_ie do %>
  <!--[if lte IE 8]>
  <%= stylesheet_link_tag    'stop_ie/application' %>
  <%= javascript_include_tag 'stop_ie/application' %>
  <![endif]-->
<% end %>

<% content_for :flash_alerts do %>
  <div class="row alert-container">
    <% flash.each do |name, msg| %>
      <div class="alert alert-<%= name %> alert-dismissible col-sm-6 col-sm-offset-6" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <%= msg %>
      </div>
    <% end %>
  </div>
<% end %>

<div class='tusur_header_wrapper'>

  <div class='navbar navbar-inverse navbar-fixed-top navbar-desktop' role='navigation' id='menu_first'>
    <div class='container'>

      <div class='navbar-header'>
        <a class='navbar-brand' href='/'></a>
      </div>

      <div class='navbar-collapse collapse'>

        <!-- Первое левое выпадающее меню -->
        <!--noindex-->
        <ul class='nav navbar-nav'>
          <li class='dropdown'>
            <a href='/' class='dropdown-toggle' data-toggle='dropdown'>Сайты ТУСУР<b class='caret'></b></a>
            <ul class='dropdown-menu'>
              <% TusurHeader::Engine.sites.each do |slug, site| %>
                <li><%= link_to site['title'].html_safe, site['link'] %></li>
              <% end %>
            </ul>
          </li>
        </ul>
        <!--/noindex-->
        <!-- / Первое левое выпадающее меню -->

        <!-- Второе левое выпадающее меню -->
        <% if content_for?(:tusur_header_second_menu) %>
          <%= yield :tusur_header_second_menu %>
        <% end %>
        <!-- / Второе левое выпадающее меню -->

        <!-- Правое выпадающее меню -->
        <% if content_for?(:tusur_header_auth_block) %>
          <%= yield :tusur_header_auth_block %>
        <% end %>
        <!-- / Правое выпадающее меню -->

      </div>
    </div>
  </div>

  <div class='navbar navbar-inverse navbar-second-menu' role='navigation' id='menu_second'>
    <div class='container'>

      <!-- Левая часть второй линии меню -->
      <% if content_for?(:tusur_header_second_menu_left) %>
        <%= yield :tusur_header_second_menu_left %>
      <% end %>
      <!-- / Левая часть второй линии меню -->

      <!-- Правая часть второй линии меню -->
      <% if content_for?(:tusur_header_second_menu_right) %>
        <%= yield :tusur_header_second_menu_right %>
      <% end %>
      <!-- / Правая часть второй линии меню -->

    </div>
  </div>

  <div class='navbar navbar-inverse navbar-fixed-top navbar-mobile' role='navigation' id='menu_mobile'>
    <div class='container'>

      <div class='navbar-header'>
        <button type='button' class='navbar-toggle mobile-toggler' data-toggle='collapse' data-target='#site-menu'>
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
        </button>
        <a class='navbar-brand' href='/'></a>
      </div>

      <div class='navbar-collapse collapse' id='site-menu'>
        <% if content_for?(:tusur_header_mobile_menu_block) %>
          <%= yield :tusur_header_mobile_menu_block %>
        <% end %>
      </div>

    </div>
  </div>
</div>
